<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
            <form action="#" th:action="@{/}" th:object="${company}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
          
                    <td th:if="${#fields.hasErrors('name')}" th:errors="${company.name}">Name Error</td>
                </tr>
                
                <tr>
                    <td>City:</td>
          
                    <td th:if="${#fields.hasErrors('city')}" th:errors="${company.city}">City Error</td>
                </tr>
              
            </table>
        </form>
</body>
</html>